// color Variables
$bodycolor:#F3F4F6;
$white:#ffffff;
$textcolor:#666666;
$textdark:#333333;
$textheader:#113D5E;
$greencolor:#74BC49;
$greendark:#53A682;
$bluegreen:#3E96A8;
$bluecolor:#2787CE;
$footertextcolor:#C2C2C2;
$footerlink:#74BD48;
$hp-color:#567986;
$negative:#D94235;
$positive:#5CB85C;
$neutral:#767676;
$receipt-bdr:#D3D8D9;
$chrome-yellow:#FF9900;
